body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #5a5a5a;
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #000000;
}
